<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monsters of Law</title>

    <link rel="icon" type="image/x-icon" href="theme/images/favicon.ico">
    <link rel="icon" type="image/png" href="theme/images/icon_500x500.png">
    <link rel="apple-touch-icon" href="theme/images/icon_500x500.png">

    <link rel="stylesheet" href="theme/css/foundation.css">
    <link rel="stylesheet" href="theme/css/style.css">

  </head>
  <body>

        <div class="title-bar" data-responsive-toggle="top-menu" data-hide-for="large">
            <span class="logo">
               <a href="">
                <img src="theme/images/monsters-of-law_logo.svg" onerror="this.src='theme/images/monsters-of-law_logo.png'" alt="Monsters of Law logo">
                <strong>Monsters of Law</strong>
               </a>
            </span>
            <span class="button-icon">
               <button class="menu-icon dark" type="button" data-toggle="top-menu"></button>
           </span>
        </div><!-- /.title-bar -->
        <div id="top-menu" data-sticky-container>
          <div class="top-bar" data-sticky data-margin-top="0" data-active-class="is-active">
                <div class="top-bar-left">
                  <ul class="menu hide-for-small-only">
                    <li class="logo menu-text">
                        <span><img src="theme/images/monsters-of-law_logo.svg" onerror="this.src='theme/images/monsters-of-law_logo.png'" alt="Monsters of Law logo"></span>
                        <strong>Monsters of Law</strong>
                    </li>
                  </ul>
                </div>
                <div class="top-bar-right">
                  <ul class="menu vertical medium-horizontal" data-magellan>
                    <li><a href="#upcoming">Upcoming</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#past-events">Past Events</a></li>
                    <li><a href="#guests">Guests</a></li>
                    <li><a href="#organisation">Organisation</a></li>
                    <li><a href="#contact">Contact</a></li>
                  </ul>
                </div>
          </div>
        </div>

      <section id="upcoming">
        <div class="grid-container fluid">
            <div class="grid-x grid-padding-x">
                <div class="graphics large-7 medium-4 small-12 cell">
                    <img src="theme/images/monsters-of-law_header.png" alt="Monsters of Law">
                </div>
                <div class="text large-5 medium-8 small-12 cell">
                  {% for ev in articles_page.object_list if ev.category == "events" and ev.date.replace(tzinfo=None) > ev.date.now() %}
                    <h2>{{ ev.title }}</h2>
                    <h3>{{ ev.subtitle }}</h3>
                    <h4 class="date">
                      {{ ev.date.strftime('%A, %B %-d at %-H:%M') }}
                      <!-- Coming soon -->
                    </h4>
                    <h5 class="location">{{ ev.location }}</h5>
                    <div class="collapsed">{{ ev.content }}</div>
                    <p class="register text-center">
                        <a href="{{ ev.registerurl }}" class="button small-only-expanded">Register</a>
                        <!-- not optional!  <small>Registration is optional</small> -->
                    </p>
                    <div class="speakers">
                      <h4>
                        <em>Guest</em>
                        {% if ev.guesturl %}<a href="{{ ev.guesturl }}">{{ ev.guest }}</a>
                        {% else %}<a href="#{{ ev.guest.lower().replace(' ', '') }}">{{ ev.guest }}</a>{% endif %}
                      </h4>
                      <p>{{ ev.guestbio }}</p>
                      {% if ev.guest2 %}<p><a href="{{ ev.guest2url }}">{{ ev.guest2 }}</a><br>{{ ev.guest2bio }}</p>{% endif %}
                      {% if ev.guest3 %}<p><a href="{{ ev.guest3url }}">{{ ev.guest3 }}</a><br>{{ ev.guest3bio }}</p>{% endif %}
                      {% if ev.guest4 %}<p><a href="{{ ev.guest4url }}">{{ ev.guest4 }}</a><br>{{ ev.guest4bio }}</p>{% endif %}
                      {% if ev.guest5 %}<p><a href="{{ ev.guest5url }}">{{ ev.guest5 }}</a><br>{{ ev.guest5bio }}</p>{% endif %}
                    </div><!-- /.speakers  -->
                  {% else %}
                    <div class="stay-tunned">
                      <h2>More Monsters of Law coming to town!</h2>
                      <h3>Stay tuned for the next event</h3>
                    </div>
                  {% endfor %}
                </div><!-- /.cell  -->
              </div><!-- /.grid-x  -->
        </div><!-- /.grid-container -->
      </section><!-- /#upcoming -->

       <section id="about">
          <div class="grid-x grid-padding-x">
            {% for p in pages if p.slug == 'monsters-of-law-series' %}
            <header class="section-title large-10 large-offset-2 small-12 cell">
              <h2>{{ p.title }}</h2>
            </header>
            <div class="medium-6 medium-offset-2 small-12 cell">
               {{ p.content }}
             </div>
             {% endfor %}
          </div>
      </section><!-- /#organisation -->

      <section id="past-events">
            <header class="section-title grid-x grid-padding-x">
                <h2 class="large-10 large-offset-2 small-12 cell">Past Events</h2>
            </header>

            <ul class="event-list">
              {% for ev in articles_page.object_list if ev.category == "events" and ev.date.replace(tzinfo=None) < ev.date.now() %}
                <li class="event grid-x grid-margin-x">
                    <h3 class="event-title large-10 large-offset-2 small-12 cell">{{ ev.title }}</h3>
                    <div class="event-details medium-3 cell">
                      <h5 class="date grid-x grid-margin-x medium-margin-collapse">
                        <span class="medium-12 small-3 cell">
                            <span class="month">{{ ev.date.strftime('%b') }}</span>
                            <span class="day">{{ ev.date.strftime('%-d') }}</span>
                            <span class="year">{{ ev.date.strftime('%Y') }}</span>
                        </span>
                        <strong class="location medium-12 small-9 cell">
                            {{ ev.location }}
                        </strong>
                      </h5>
                      <h5 class="subheader">Guests</h5>
                      <ul class="speakers no-bullet">
                        <li><a href="{{ ev.guesturl }}">{{ ev.guest }}</a></li>
                        {% if ev.guest2 %}<li><a href="{{ ev.guest2url }}">{{ ev.guest2 }}</a></li>{% endif %}
                        {% if ev.guest3 %}<li><a href="{{ ev.guest3url }}">{{ ev.guest3 }}</a></li>{% endif %}
                        {% if ev.guest4 %}<li><a href="{{ ev.guest4url }}">{{ ev.guest4 }}</a></li>{% endif %}
                        {% if ev.guest5 %}<li><a href="{{ ev.guest5url }}">{{ ev.guest5 }}</a></li>{% endif %}
                      </ul>
                    </div><!-- /.event-details -->
                    <div class="event-description large-auto medium-9 cell">
                      {{ ev.content }}
                    </div><!-- /.event-description -->
                    {% if ev.slides %}
                    <div class="event-media large-auto small-12 cell">
                      <div class="orbit" role="region" aria-label="{{ ev.title }}" data-orbit data-auto-play="false">
                        <div class="orbit-wrapper">
                          <div class="orbit-controls">
                            <button class="orbit-previous"><span class="show-for-sr">Previous slide</span> &#9664;&#xFE0E;</button>
                            <button class="orbit-next"><span class="show-for-sr">Next slide</span> &#9654;&#xFE0E;</button>
                          </div>
                          <ul class="orbit-container">
                            {% for src in ev.slides %}
                                <li class="orbit-slide cell">
                                {% if 'youtube' in src %}
                                  <figure class="orbit-figure orbit-video">
                                    <iframe width="560" height="315" src="{{ src.replace('watch?v=', 'embed/') }}"
                                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                  </figure>
                                {% elif 'vimeo' in src %}
                                  <figure class="orbit-figure orbit-video">
                                    <iframe src="{{ src.replace('https://vimeo.com/', 'https://player.vimeo.com/video/') }}?color=9ad198&title=0&byline=0&portrait=0"
                                            width="640" height="360" frameborder="0"
                                            allowfullscreen>
                                    </iframe>
                                  </figure>
                                {% else %}
                                  <figure class="orbit-figure">
                                    <img class="orbit-image" src="{{ src }}" alt="Photo of {{ ev.title }}">
                                  </figure>
                                {% endif %}
                                </li>
                            {% endfor %}
                          </ul>
                          <nav class="orbit-bullets">
                            {% for src in ev.slides %}
                            <button data-slide="{{ loop.index0 }}"><span class="show-for-sr">photo</span></button>
                            {% endfor %}
                          </nav>
                        </div>
                      </div><!-- /.orbit-->
                    </div><!-- /.event-media -->
                    {% endif %}
                </li><!-- /.event- -->
             {% endfor %}
            </ul><!-- event-list -->

      </section><!-- /#past-events -->

      <section id="guests">
          <div class="grid-x grid-padding-x">
            <header class="section-title large-10 large-offset-2 small-12 cell">
                <h2>Guests</h2>
            </header>
            <div class="large-12 cell">
                <div class="speakers-grid grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">
                  {% for s in articles_page.object_list if s.category == 'guests' %}
                    <div id="{{ s.title.lower().replace(' ', '') }}" class="speaker cell text-center">
                      <p class="photo"><img src="images/{{ s.slug }}.jpg"></p>

                      <h5>
                        {% if s.url %}<a target="_blank" href="{{ s.url }}">{{ s.title }}</a>
                        {% else %} {{ s.title }} {% endif %}
                        </h5>
                        <div class="bio">
                          {{ s.content }}
                        </div>
                        <ul class="links menu simple align-center">
                          {% if s.linkedinurl %}<li><a href="{{ s.linkedinurl }}">LinkedIn</a></li>{% endif %}
                          {% if s.twitterurl %}<li><a href="{{ s.twitterurl }}">Twitter</a></li>{% endif %}
                        </ul>
                    </div><!-- /.speaker -->
                  {% endfor %}
                </div><!-- /.grid-x -->
            </div><!-- /.cell -->
          </div><!-- /.grid-x -->
      </section><!-- /#guests -->

      <section id="organisation">
          <div class="grid-x grid-padding-x">
            {% for p in pages if p.slug == 'organisation' %}
            <header class="section-title large-10 large-offset-2 small-12 cell">
              <h2>{{ p.title }}</h2>
            </header>
            <div class="large-6 large-offset-2 medium-10 small-12 cell">
              {{ p.content }}
            </div>
            {% endfor %}

          </div>
      </section><!-- /#organisation -->

      <footer id="contact" class="grid-container fluid">
          <div class="grid-x grid-padding-x">
            <h5 class="subheader large-10 large-offset-2 small-12 cell">Monsters of Law</h5>
            <div class="large-5 large-offset-2 medium-12 small-12 cell">
              {% for p in pages if p.slug == 'contact' %}
                <h5>Contact</h5>
                {{ p.content }}
              {% endfor %}
            </div>
            <div class="large-4 medium-12 small-12 cell license">
              <p xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#">
                <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">
                  <img src="https://licensebuttons.net/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
                </a>
                To the extent possible under law,
                <span rel="dct:publisher" property="dct:title">Free Knowledge Advocacy Group EU</span>
                has waived all copyright and related or neighboring rights to
                the <span property="dct:title">Monsters of Law</span> website content.<br>
                This work is published from
                <span property="vcard:Country" datatype="dct:ISO3166"
                    content="BE" about="https://monstersoflaw.brussels">
                Belgium</span>.
              </p>
            </div>
          </div>
      </footer><!-- /#contact -->

    <script src="theme/js/vendor/jquery.js"></script>
    <script src="theme/js/vendor/jquery.expander.min.js"></script>
    <script src="theme/js/vendor/what-input.js"></script>
    <script src="theme/js/vendor/foundation.js"></script>
    <script src="theme/js/app.js"></script>
  </body>
</html>
