/*
 * MONSTERS OF LAW
*/

/* Colors
*/

$mol-background: #e3e2db;
$mol-darkgreen: #044d3f;
$mol-midgreen: #6b8b82;
$mol-midgreengray: #3e7464;
$mol-lightgreen: #9cb5b0;
$mol-textcolor: #263935;

/* Typography
*/

@font-face {
  font-family: 'Heebo';
  font-weight: 200;
  font-style: normal;
  src: local('Heebo Thin'), url('../fonts/Heebo-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Heebo';
  font-weight: 300;
  font-style: normal;
  src: local('Heebo Light'), url('../fonts/Heebo-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Heebo';
  font-weight: 400;
  font-style: normal;
  src: local('Heebo Regular'), url('../fonts/Heebo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Heebo';
  font-weight: 700;
  font-style: normal;
  src: local('Heebo Bold'), url('../fonts/Heebo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Heebo';
  font-weight: 900;
  font-style: normal;
  src: local('Heebo Black'), url('../fonts/Heebo-Black.ttf') format('truetype');
}

body {
    font-family: "Heebo", Roboto, "DejaVu Sans", "Helvetica Neue", Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Heebo", Roboto, "DejaVu Sans", "Helvetica Neue", Helvetica, sans-serif;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    color: $mol-darkgreen;
}

h1, h2, h3 { font-weight: 200; }
h4, h5, h6 { font-weight: 700; }

h1, .h1 { font-size: 2.5rem; }
h2, .h2 { font-size: 2rem; }
h3, .h3 { font-size: 1.75rem;}
h4, .h4 { font-size: 1.5em; }
h5, .h5 { font-size: 1.25rem; }
h6, .h6 { font-size: 1rem; }

@media print, screen and (min-width: 46em) {
  h1, .h1 {
    font-size: 4rem;
    line-height: 1.2; }
  h2, .h2 {
    font-size: 3.25rem;
    line-height: 1.2; }
  h3, .h3 {
    font-size: 2.75rem;
    line-height: 1.2; }
  h4, .h4 {
    font-size: 1.5625rem; }
  h5, .h5 {
    font-size: 1.25rem; }
  h6, .h6 {
    font-size: 1rem; }
  #upcoming {
    .text { max-width: 39em; }
    h3 em, .h3 em {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 39.9375em) { /* small only */
  #upcoming h2,
  #upcoming .h2 { font-weight: 300; line-height: 1.1; }
  #upcoming h3,
  #upcoming .h3 {
    font-weight: 300;
    line-height: 1.1;
  }
  #upcoming h3 em {
    font-size: 1.25rem;
  }
}

h4.subheader,
h5.subheader,
h6.subheader {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.event-description h1 { font-size: 1.75rem; font-weight: 700; }
.event-description h2 { font-size: 1.5rem; font-weight: 700; }
.event-description h3 { font-size: 1.25rem; font-weight: 700;}
.event-description h4 { font-size: 1.1875rem; font-weight: 700; }
.event-description h5 { font-size: 1.125rem; font-weight: 700; }
.event-description h6 { font-size: 1rem; font-weight: 700; }

h1.subheader,
h2.subheader,
h3.subheader,
h4.subheader,
h5.subheader,
h6.subheader { color: $mol-darkgreen; }

/* Base styles
*/

a {
    outline: 0;
    color: $mol-darkgreen;
}

body {
    color: $mol-textcolor;
    background-color: $mol-background;
}

.button {
    background-color: $mol-darkgreen;
}

@media screen and (max-width: 39.9375em) {
  .button.small-only-expanded {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0; } }

ul.grid-x {
    list-style-type: none;
    margin-left: 0;
}

span.month,
span.day,
span.year,
span.weekday { display: block; }

.month {
    font-size: 80%;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.day {
    font-size: 200%;
    font-weight: 300;
}

/*.weekday {
    font-size: 70%;
    font-weight: 300;
}*/

.year {
    font-weight: 700;
}


.section-title h2:first-child {
    text-transform: uppercase;
    letter-spacing: 12px;
    padding-top: 2em;
    padding-bottom: 0.5em;
    text-shadow: 4px 0px 0px rgba(150, 150, 150, 1);
}



/* Navigation
*/


.title-bar {
    background-color: #fff;
    span.logo {
        flex: 1 1 auto;
        color: $mol-darkgreen;
        font-weight: 300;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 1px;
        img {
            height: 30px;
            width: auto;
        }

    }
    .button-icon {
        flex: 0 1 auto;
        padding-right: 0.5rem;
    }
}

#top-menu {
    .top-bar {
        background-color: #fff;
        @media screen and (max-width: 39.9375em) {
            border-top: 1px solid $mol-lightgreen;
        }
        ul {
            background-color: #fff;
        }
    }
}


#top-menu .logo span,
#top-menu .logo strong {
    display: inline-block;
    vertical-align: middle;
}

#top-menu .logo img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

#top-menu .logo strong {
    color: $mol-darkgreen;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#top-menu .menu li a {
    font-size: 90%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Header
*/

#header {
    padding: 2em 0;
    vertical-align: middle;
}

#header > * {
    vertical-align: middle;
}


#header img {
    max-height: 60vh;
    width: auto;
}

#header h1 {
    font-size: 6rem;
    font-weight: 200;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Upcoming
*/

#upcoming {

    .stay-tunned {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (min-width: 40em) and (max-width: 63.9375em) { min-height: 70vh; }
        @media screen and (min-width: 64em) { min-height: 80vh; }
    }
    .graphics {
        padding-top: 0.9375rem;
        padding-bottom: 0.9375rem;
        position: relative;
        overflow: hidden;
        text-align: center;
        min-height: 100%;
        img {
            display: block;
            width: 100%;
            height: auto;
            @media screen and (min-width: 40em) {/* large and up */
                position: absolute;
                top: -9999px;
                bottom: -9999px;
                left: -9999px;
                right: -9999px;
                margin: auto;
                width: auto !important;
                max-width: none !important;
                height: 100%;
                vertical-align: top;
            }
        }
    }
    .text {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        @media screen and (min-width: 64em) {/* large and up */
                padding-top: 4em;
                padding-bottom: 2em;
        }
        h2 {
            @media screen and (min-width: 64em) {/* large and up */
              margin-bottom: 1.5rem;
            }
        }
        h3 em {
          color: $mol-midgreen;
          display: block;
          font-weight: 300;
          font-style: normal;
        }
        .location {
            color: $mol-darkgreen;
            font-size: 95%;
            line-height: 1.1;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-bottom: 1px solid $mol-lightgreen;
            border-top: 1px solid $mol-lightgreen;
            padding-bottom: 0.5rem;
            padding-top: 0.5rem;
            margin-bottom: 1.5rem;
        }
        .register {
            margin-top: 2rem;
            margin-top: 2rem;
            &.deactivated {
              opacity: 0.35;
              a.button:hover,
              a.button:focus {
                background-color: #6b8b82;
                color: #fff;
                cursor: default;
              }
            }
            a.button {
                margin-bottom: 0.5rem;
                @media screen and (min-width: 64em) {/* large and up */
                        min-width: 60%;
                }
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 1px;
            }
            small {
                color: $mol-midgreen;
                display: block;
            }
        }
        .speakers {
          h4 em {
            font-style: normal;
            font-weight: 200;
            }
        }
    }
}

/* About
*/

#about {
    color: #fff;
    background-color: $mol-darkgreen;
    padding-bottom: 1.5em;
    @media screen and (min-width: 64em) {/* large and up */
        padding-top: 3em;
        padding-bottom: 5em;
    }
    .section-title h2:first-child {
        color: $mol-lightgreen;
        text-shadow: 4px 0px 0px #fff;
    }
    p {
        font-size: 120%;
        @media screen and (min-width: 64em) {/* large and up */
            font-size: 140%;
        }
        font-weight: 300;
    }
}

/* Past events
*/

#past-events {
    .event-list {
        background: transparent;
        margin: 0;
        padding: 0;
        .event {
            list-style-type: none;
            margin: 0;
            padding: 1.5em 0 2.5em;
            &:last-child { border-bottom: 1px solid $mol-lightgreen; }
            .event-content {
                padding: 0;
                border: 0;
                border-top: 1px solid $mol-lightgreen;
                background-color: transparent;
                color: $mol-textcolor;
                .event:first-child .event-description h3.event-title { border-top: 0; }
            }
            .event-details  {
                text-align: right;
                .subheader { margin-bottom: 0; }
                @media screen and (max-width: 39.9375em) { /* small only */
                    .subheader {
                        border-top: 1px solid $mol-lightgreen;
                        padding-top: 0.5rem;
                    }
                    .speakers {
                        border-bottom: 1px solid $mol-lightgreen;
                        padding-bottom: 0.5rem;
                        margin-bottom: 1rem;
                    }
                }
            }
            h5.date {
                text-align: right;
                color: $mol-darkgreen;
                margin-left: 0;
                margin-top: 0.5rem;
                line-height: 1;
                .location {
                    display: block;
                    font-size: 80%;
                    font-weight: 700;
                    text-align: left;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    hyphens: none;
                    margin-top: 0.5em;
                    padding-left: 0.5em;
                    border-left: 1px solid $mol-lightgreen;
                    color: $mol-lightgreen;
                    @media screen and (min-width: 40em) {/* medium and up */
                        padding-top: 0.5em;
                        padding-left: 0;
                        border-left: 0;
                        border-top: 1px solid $mol-lightgreen;
                        text-align: right;
                    }
                }
            }
            ul.speakers {
                margin-left: 0;
            }
            .event-media {
                @media screen and (max-width: 40em) {
                    margin-top: 1rem;
                }
                .orbit-container {
                    background-color: transparent;
                    li {
                        text-align: center;
                        img {
                            width: auto;
                        }
                        .orbit-video {
                            position: relative;
                            padding-bottom: 56.25%;
                            padding-top: 35px;
                            height: 0;
                            overflow: hidden;
                            iframe {
                                position: absolute;
                                top:0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                max-width: 100% !important;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* Guests
*/

#guests {
    .speakers-grid {
        justify-content: center;
        .speaker {
            .photo {
                margin: 1rem auto;
                width: 150px;
                height: 150px;
                position: relative;
                overflow: hidden;
                border-radius: 50%;
                img {
                    display: block;
                    height: 100%;
                    width: auto;
                    margin: 0 auto;
                    filter: gray;
                    -webkit-filter: grayscale(1);
                    filter: grayscale(1);
                    background-color: #fff;
                }
            }
            .links {
                font-size: 80%;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 1px;
                li:not(:last-child) {
                    border-right: 1px solid $mol-lightgreen;
                    padding-right: 1rem;
                }
            }
        }
    }

}

/* Organisation
*/

#organisation {
    padding-top: 2rem;
    padding-bottom: 2rem;
     @media screen and (min-width: 64em) {/* large and up */
        padding-top: 3em;
        padding-bottom: 5em;
    }
}

/* Footer
*/

#contact {
    color: $mol-lightgreen;
    background-color: $mol-midgreengray;
    padding-top: 2rem;
    padding-bottom: 2rem;
     @media screen and (min-width: 64em) {/* large and up */
        padding-bottom: 3.5em;
    }
    a,
    h1, h2, h3, h4, h5, h6 { color: #fff; }
    .license {
        font-size: 90%;
        a[rel="license"] img {
            display: block;
            height: 30px;
            width: auto;
            margin-bottom: 0.5rem;
        }
    }
    p:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

/* Preventing FOUC in navigation
   when JS is disabled */
.no-js {
  .top-bar { display: none; }
  @media screen and (min-width: 40em) {
    .top-bar { display: block; }
    .title-bar { display: none; }
  }
}
